* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 6.188rem 1.5rem 10%;
  width: 62.5%;
}

.miniheader {
  text-transform: uppercase;
  font-family: 'Monserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
}

.formContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.input {
  height: 2.188rem;
  width: 50%;
  text-transform: uppercase;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
  padding: 0 10px;
  font-size: 0.7rem;
}

.addBtn {
  width: 13.5rem;
  height: 2.188rem;
  border-radius: 3px;
  background-color: #0290ff;
  font-family: 'Roboto Slab', serif;
  font-size: 0.813rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
  border: none;
}
