@import url('https://fonts.googleapis.com/css2?family=Dangrek&family=Roboto+Slab:wght@200;300;400;500;600;700;800&display=swap');

body {
  background-color: #f4f5f9;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 0 6rem;
}

.Bookcontainer {
  display: flex;
  height: 10.625rem;
  border-radius: 4px;
  border: solid 1px #ececec;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 1.2rem;
}

.list {
  height: 33rem;
  overflow-y: scroll;
  margin-top: 40px;
}

.details {
  flex-grow: 2;
  padding-left: 1.688rem;
  width: 25%;
}

.details h3 {
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
  opacity: 0.5;
  margin-bottom: 0.25rem;
  font-family: sans-serif;
}

.details h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #121212;
}

.details h4 {
  font-family: 'Roboto Slab', serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.details ul {
  list-style: none;
  display: flex;
  font-family: 'Roboto Slab', serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  align-items: center;
  margin-top: 1.313rem;
  width: fit-content;
}

.details ul li {
  color: #4386bf;
  padding-left: 0.938rem;
  padding-right: 0.938rem;
  border-right: 0.125rem solid #e8e8e8;
}

.details ul li:first-of-type {
  padding-left: 0;
}

.details ul li:last-of-type {
  border: 0;
}

.chapters button {
  padding: 0.5rem 1.375rem;
  border-radius: 3px;
  background-color: #0290ff;
  font-family: 'Roboto Slab', serif;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
  border: 0;
  cursor: pointer;
  margin-top: 1.438rem;
  text-transform: uppercase;
  transition: all 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.details ul li button {
  border: none;
  background: none;
  cursor: pointer;
  color: #4386bf;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  font-family: 'Roboto Slab', serif;
}

.percentage {
  display: flex;
  gap: 1.313rem;
  flex-grow: 1;
  border-right: solid 1px #e8e8e8;
}

.percentage .spinner {
  width: 4.25rem;
  height: 4.25rem;
  border: 5px solid #379cf6;
  border-width: 5px;
  border-radius: 50%;
  border-left-color: lightgray;
  transform: rotate(45deg);
}

.percentage h2 {
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.percentage p {
  opacity: 0.5;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.chapters {
  flex-grow: 1;
  padding-left: 3.688rem;
}

.chapters h3 {
  opacity: 0.5;
  font-family: 'Roboto Slab', serif;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
  text-transform: uppercase;
  margin-bottom: 0.438rem;
}

.chapters h4 {
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #121212;
}

.chapters button:hover {
  background-color: #065dd8;
  transform: translateY(-2px);
}

.entry h2 {
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
  margin-bottom: 1.188rem;
}

.entry form {
  display: flex;
  justify-content: space-between;
  gap: 2.125rem;
}

.entry input {
  padding: 0.813rem 1.063rem;
  flex-grow: 1;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
}

.categorybutton {
  border-radius: 3px;
  background-color: #0290ff;
  border: 0;
  cursor: pointer;
  padding: 0.8rem 2.4rem;
  font-size: 0.813rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

@media (max-width: 900px) {
  * {
    display: none;
  }
}
